{% block busuanzi %}
  <div class="busuanzi">
    <script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <span class="site-uv">
      <i class="fa fa-user"></i>
      <span class="busuanzi-value" id="busuanzi_value_site_uv"></span>
    </span>
    <span class="site-pv">
      <i class="fa fa-eye"></i>
      <span class="busuanzi-value" id="busuanzi_value_site_pv"></span>
    </span>
    <span class="site-pv">
      <i class="fa fa-file-o"></i>
      <span class="busuanzi-value" id="busuanzi_value_page_pv"></span>
    </span>
  </div>
{% endblock %}
