{% extends "_layout.njk" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div id="helpList">
        <div class="sk-wave col-sm-2 hidden-xs">
          <div class="sk-rect sk-rect1"></div>
          <div class="sk-rect sk-rect2"></div>
          <div class="sk-rect sk-rect3"></div>
          <div class="sk-rect sk-rect4"></div>
          <div class="sk-rect sk-rect5"></div>
        </div>
        <div class="sk-wave col-sm-10 visible-xs">
          <div class="sk-rect sk-rect1"></div>
          <div class="sk-rect sk-rect2"></div>
          <div class="sk-rect sk-rect3"></div>
          <div class="sk-rect sk-rect4"></div>
          <div class="sk-rect sk-rect5"></div>
        </div>
      </div>
      <div class="content col-sm-10">
        <h1>{{ page.title }}</h1>
        {{ page.content }}
      </div>
    </div>
  </div>
  <script type="text/javascript">
    function buildHelpList(intervalID) {
      $.getJSON("/help/desc_help.json", function (descHelp) {
        var innerHTML = "";
        var currentPath = window.document.location.pathname;
        if (currentPath.charAt(0) !== '/') {
          currentPath = "/" + currentPath;
        }
        if (currentPath.charAt(currentPath.length - 1) !== '/') {
          currentPath += "/";
        }
        innerHTML += "<div class=\"col-sm-2 hidden-xs\"><ul class=\"nav nav-pills nav-stacked\" id=\"help-nav\">";
        if (currentPath === "/help/") {
          innerHTML += "<li class=\"active\"><a href=\"/help/\">index</a></li>";
        } else {
          innerHTML += "<li><a href=\"/help/\">index</a></li>";
        }
        for (mirror in descHelp) {
          if (descHelp[mirror]["help"]) {
            if (currentPath === descHelp[mirror]["help"]) {
              innerHTML += ("<li class=\"active\"><a href=\"" + descHelp[mirror]["help"] + "\">" + mirror + "</a></li>");
            } else {
              innerHTML += ("<li><a href=\"" + descHelp[mirror]["help"] + "\">" + mirror + "</a></li>");
            }
          }
        }
        innerHTML += "</ul></div><div class=\"col-sm-10 visible-xs\"><form class=\"form-inline\"><div class=\"form-group\"><label>选择帮助条目: </label><select onchange=\"location = this.value;\" class=\"form-control\" id=\"help-select\">";
        if (currentPath === "/help/") {
          innerHTML += "<option value=\"/help/\" selected>index</option>";
        } else {
          innerHTML += "<option value=\"/help/\">index</option>";
        }
        for (mirror in descHelp) {
          if (descHelp[mirror]["help"]) {
            if (currentPath === descHelp[mirror]["help"]) {
              innerHTML += ("<option value=\"" + descHelp[mirror]["help"] + "\" selected>" + mirror + "</option>");
            } else {
              innerHTML += ("<option value=\"" + descHelp[mirror]["help"] + "\">" + mirror + "</option>");
            }
          }
        }
        innerHTML += "</select></div></form></div>";
        $("#helpList").empty().append(innerHTML);
        if (intervalID !== null) {
          clearInterval(intervalID);
        }
      });
    }
    $(document).ready(function () {
      var intervalID = null;
      buildHelpList(intervalID);
      intervalID = setInterval(function () {
        buildHelpList(intervalID)
      }, 10000);
    });
  </script>
{% endblock %}
